<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsWZ-TokRYNgDJ3cQ2cIqLtzmGmYUNyjg</string>
	<key>GCM_SENDER_ID</key>
	<string>615963552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastTaxi</string>
	<key>PROJECT_ID</key>
	<string>fasttaxi-accec</string>
	<key>STORAGE_BUCKET</key>
	<string>fasttaxi-accec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615963552:ios:d2a33816d94b872931e2c5</string>
</dict>
</plist>